.footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
  text-align: center;
  background: rgba(0, 0, 0, 7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: 0.95;
  backdrop-filter: blue(8px);
}

.footer span {
  font-size: 14px;
  color: #09f;
  opacity: 0.8;
}

.footer h4,
.footer h5 {
  display: flex;
  margin: 0;
}

.footer img {
  max-width: 18px;
}
